#Shanghaihai {
  float: left;
  margin-right: 10px;  
  width: 350px;  
  height: 300px;
}

#FlagFootball {
  float: right;
  margin-left: 10px;  
  width: 350px;  
  height: 300px;
}

#DreamInstitute {
  float: left;
  margin-right: 10px;  
  width: 350px;  
  height: 300px;
}

a:link {
  color: rgb(228, 100, 68);
  text-decoration: none;
  text-shadow: .5px .5px 1px #a14a22;
}

a:visited {
  color: rgb(216, 46, 83);
  text-decoration: none;
  text-shadow: .5px .5px 1px #8a1b39;
}

a:hover {
  color: rgb(38, 88, 134);
}

.borderd_text {
  -webkit-text-stroke: 2px #F0BBA1;
  font-size: 48px;
  color: #F7907C;
  }

  html {
    background-color: #f3dcdd;
  }