#Shanghaihai {
  float: left;
  margin-right: 10px;  
  width: 350px;  
  height: 300px;
}

#FlagFootball {
  float: right;
  margin-left: 10px;  
  width: 350px;  
  height: 300px;
}

#DreamInstitute {
  float: left;
  margin-right: 10px;  
  width: 350px;  
  height: 300px;
}


a:link {
  color: #F0AEA1;
  text-decoration: none;
  text-shadow: .5px .5px 1px #f0c4a0;
}

a:visited {
  color: #A0786F;
  text-decoration: none;
  text-shadow: .5px .5px 1px #f0c4a0;
}

a:hover {
  color: #f7a87a;
}

a:active,
 a:focus {
  color: #c86a4d;
}

.borderd_text {
  -webkit-text-stroke: 2px #F7907C;
  font-size: 48px;
  color: #F0BBA1;
}

  html {
    background-color: #f3dcdd;
  }